* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #2c1d16;
   
}
header {
  text-align: center;
  padding: 40px 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  
}

header h1 {
  font-size: 3rem;
  color: #cda67f;
}

header p {
  font-style: italic;
  color: #ddd;
}


.hero {
  background: url('https://cdn.pixabay.com/photo/2017/06/20/19/22/coffee-2425303_1280.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(61, 58, 58, 0.5), rgba(0,0,0,0.3)),url('img14.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  
 
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 700px;
  padding: 30px;
}

.hero-text h2 {
  font-size: 2.5rem;
  color: #cda67f;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #eee;
}

.btn {
  background-color: #cda67f;
  color: #111;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #fff;
}


.about {
  background-color: #1b1b1b;
  padding: 80px 20px;
 
  background-image: url(img18.jpg);
  background-repeat: no-repeat;
   background-size: cover;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
   color: black;
  
}

.about-content img {
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.about-content .text {
  max-width: 500px;
}

.about-content h2 {
  color: #cda67f;
  margin-bottom: 15px;
}

.about-content p {
  color: #ccc;
}


.menu {
  background-color: #222;
  text-align: center;
  padding: 80px 20px;
  background-image:url(img16.jpg);
}

.menu h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  background-color: #2c1d16;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.item h3 {
  color: #cda67f;
  margin-bottom: 10px;
}


.gallery {
  padding: 80px 20px;
  text-align: center;
  background-color: rgb(73, 38, 38);
}

.gallery h2 {
  color: black;
  margin-bottom: 30px;
  font-size: 2rem;
}
.gallery h3{
  color: black;
}

.gallery .images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width:400px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: 0.3s;
}



